In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("CreateDataFrameExample").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/02 16:36:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [19]:
data = [
    {"name":'toyota', "price":21000},
    {"name":'nissan', "price":10000},
    {"name":'tata', "price":23000},
    {"name":'toyota', "price":45000},
    {"name":'nissan', "price":23323},
    {"name":'tata', "price":21000},
]

df = spark.createDataFrame(data)

In [20]:
df.show()

+------+-----+
|  name|price|
+------+-----+
|toyota|21000|
|nissan|10000|
|  tata|23000|
|toyota|45000|
|nissan|23323|
|  tata|21000|
+------+-----+

In [22]:
df.filter(df['price'] > 23).show()

+------+-----+
|  name|price|
+------+-----+
|toyota|21000|
|nissan|10000|
|  tata|23000|
|toyota|45000|
|nissan|23323|
|  tata|21000|
+------+-----+

In [24]:
df.groupBy(df['name']).agg({'price':'avg'}).show()

+------+----------+
|  name|avg(price)|
+------+----------+
|toyota|   33000.0|
|nissan|   16661.5|
|  tata|   22000.0|
+------+----------+

In [2]:
from pyspark.sql import SparkSession 


#starting a spark session
spark = SparkSession.builder.appName("TestApp").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/02 19:08:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
#creating a simple dataframe
data = [
    {"company":"toyota", "price":10000},
    {"company":"hyundai", "price":1000},
    {"company":"tata", "price":20000},
    {"company":"mercedes", "price":100000},
    {"company":"hyundai", "price":100600},
    {"company":"bugatti", "price":10090000},
    {"company":"toyota", "price":10000},
    {"company":"hyundai", "price":1000},
    {"company":"tata", "price":20000},
    {"company":"mercedes", "price":100000},
    {"company":"hyundai", "price":100600},
    {"company":"bugatti", "price":10090000},    
    {"company":"toyota", "price":10000},
    {"company":"hyundai", "price":1000},
    {"company":"tata", "price":20000},
    {"company":"mercedes", "price":100000},
    {"company":"hyundai", "price":100600},
    {"company":"bugatti", "price":10090000},
]

df = spark.createDataFrame(data)

In [5]:
#showing the dataframe
df.show()

+--------+--------+
| company|   price|
+--------+--------+
|  toyota|   10000|
| hyundai|    1000|
|    tata|   20000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
|  toyota|   10000|
| hyundai|    1000|
|    tata|   20000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
|  toyota|   10000|
| hyundai|    1000|
|    tata|   20000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
+--------+--------+

In [7]:
#filtering the df
df.filter(df["price"] > 100000).show()

+-------+--------+
|company|   price|
+-------+--------+
|hyundai|  100600|
|bugatti|10090000|
|hyundai|  100600|
|bugatti|10090000|
|hyundai|  100600|
|bugatti|10090000|
+-------+--------+

In [9]:
#using the groupby function
df.groupBy(df["company"]).agg({"price":"average"}).show()

+--------+----------+
| company|avg(price)|
+--------+----------+
|  toyota|   10000.0|
| hyundai|   50800.0|
|    tata|   20000.0|
|mercedes|  100000.0|
| bugatti|   1.009E7|
+--------+----------+

/home/soham/.local/lib/python3.10/site-packages/pyspark/sql/dataframe.py:168: UserWarning: DataFrame.sql_ctx is an internal property, and will be removed in future releases. Use DataFrame.sparkSession instead.
  warnings.warn(

Py4JJavaError: An error occurred while calling o179.loadClass.
: java.lang.ClassNotFoundException: org.graphframes.GraphFramePythonAPI
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:594)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:527)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName("TestAppNew").getOrCreate()

23/11/02 20:13:19 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [20]:
data = [
    {"company":"toyota", "price":10000},
    {"company":"hyundai", "price":1000},
    {"company":"tata", "price":20000},
    {"company":"mercedes", "price":100000},
    {"company":"hyundai", "price":100600},
    {"company":"bugatti", "price":10090000},
    {"company":"toyota", "price":10000},
    {"company":"hyundai", "price":1000},
    {"company":"tata", "price":20000},
    {"company":"mercedes", "price":100000},
    {"company":"hyundai", "price":100600},
    {"company":"bugatti", "price":10090000},    
    {"company":"toyota", "price":10000},
    {"company":"hyundai", "price":1000},
    {"company":"tata", "price":20000},
    {"company":"mercedes", "price":100000},
    {"company":"hyundai", "price":100600},
    {"company":"bugatti", "price":10090000},
]

df = spark.createDataFrame(data)

In [21]:
df.show()

+--------+--------+
| company|   price|
+--------+--------+
|  toyota|   10000|
| hyundai|    1000|
|    tata|   20000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
|  toyota|   10000|
| hyundai|    1000|
|    tata|   20000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
|  toyota|   10000|
| hyundai|    1000|
|    tata|   20000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
+--------+--------+

In [23]:
df.describe().show()

+-------+-------+------------------+
|summary|company|             price|
+-------+-------+------------------+
|  count|     18|                18|
|   mean|   NULL|1720266.6666666667|
| stddev|   NULL|  3851802.10535582|
|    min|bugatti|              1000|
|    max| toyota|          10090000|
+-------+-------+------------------+

In [25]:
df.filter(df["price"] > 25000).show()

+--------+--------+
| company|   price|
+--------+--------+
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
|mercedes|  100000|
| hyundai|  100600|
| bugatti|10090000|
+--------+--------+

In [26]:
df.groupBy(df["company"]).agg({"price":"average"}).show()

+--------+----------+
| company|avg(price)|
+--------+----------+
|  toyota|   10000.0|
| hyundai|   50800.0|
|    tata|   20000.0|
|mercedes|  100000.0|
| bugatti|   1.009E7|
+--------+----------+

In [27]:
df.createOrReplaceTempView("table1")

In [33]:
query = "SELECT * FROM table1 WHERE price < 100600 AND company == 'toyota'"
results = spark.sql(query)

In [34]:
results.show()

+-------+-----+
|company|price|
+-------+-----+
| toyota|10000|
| toyota|10000|
| toyota|10000|
+-------+-----+