In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Builder").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/03 10:59:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [28]:
data = [
    {"Company":"Tatti", "Revenue":10000},
    {"Company":"Tatti1", "Revenue":240000},
    {"Company":"Tatti2", "Revenue":530000},
    {"Company":"Tatti3", "Revenue":604000},
    {"Company":"Tatti4", "Revenue":700400},
    {"Company":"Tatti", "Revenue":300006},
    {"Company":"Tatti1", "Revenue":40007},
    {"Company":"Tatti2", "Revenue":50003},
    {"Company":"Tatti3", "Revenue":600090},
    {"Company":"Tatti4", "Revenue":700001},
    {"Company":"Tatti", "Revenue":30000},
    {"Company":"Tatti1", "Revenue":40000},
    {"Company":"Tatti2", "Revenue":50000},
    {"Company":"Tatti3", "Revenue":60000},
    {"Company":"Tatti4", "Revenue":70000},
    
]

In [37]:
df = spark.createDataFrame(data)
df.show()
df.describe().show()

+-------+-------+
|Company|Revenue|
+-------+-------+
|  Tatti|  10000|
| Tatti1| 240000|
| Tatti2| 530000|
| Tatti3| 604000|
| Tatti4| 700400|
|  Tatti| 300006|
| Tatti1|  40007|
| Tatti2|  50003|
| Tatti3| 600090|
| Tatti4| 700001|
|  Tatti|  30000|
| Tatti1|  40000|
| Tatti2|  50000|
| Tatti3|  60000|
| Tatti4|  70000|
+-------+-------+

+-------+-------+-----------------+
|summary|Company|          Revenue|
+-------+-------+-----------------+
|  count|     15|               15|
|   mean|   NULL|268300.4666666667|
| stddev|   NULL|276704.1899099022|
|    min|  Tatti|            10000|
|    max| Tatti4|           700400|
+-------+-------+-----------------+

In [30]:
df.filter(df["company"] == "Tatti").show()

+-------+-------+
|Company|Revenue|
+-------+-------+
|  Tatti|  10000|
|  Tatti| 300006|
|  Tatti|  30000|
+-------+-------+

In [31]:
df.filter(df["Revenue"] < 40000).show()

+-------+-------+
|Company|Revenue|
+-------+-------+
|  Tatti|  10000|
|  Tatti|  30000|
+-------+-------+

In [36]:
df.groupBy(df["Company"]).agg({"Revenue":"median"}).show()

+-------+---------------+
|Company|median(Revenue)|
+-------+---------------+
|  Tatti|        30000.0|
| Tatti1|        40007.0|
| Tatti2|        50003.0|
| Tatti4|       700001.0|
| Tatti3|       600090.0|
+-------+---------------+

In [38]:
df.createOrReplaceTempView("table1")

In [41]:
results = spark.sql("SELECT * FROM table1 WHERE Revenue > 240000")

In [42]:
results.show()

+-------+-------+
|Company|Revenue|
+-------+-------+
| Tatti2| 530000|
| Tatti3| 604000|
| Tatti4| 700400|
|  Tatti| 300006|
| Tatti3| 600090|
| Tatti4| 700001|
+-------+-------+

In [43]:
spark.stop()